body{
  font-weight: 700;
color: darkgrey;
}

img{
  border-radius: 10px;
}
input[type=button] {
    background-color:  #d1f2eb ;
      color: black;
      padding: 8px;
      margin: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      min-width: 80%;
      min-height: 45px;
  
  }
  .baslik{
    padding-left: 25px;
    padding-top: 10px;
    font-size: large;
    
  }
  .alan{
    background-color:  #138d75 ;
  }
  .puan, .zaman{
    margin: 10px;
    padding: 10px;
    font-size: large;
  }
  
  .alt{
    text-align: center;
    
  }
  .success{
    background-color: chartreuse !important;
  }
  .warning{
    background-color: crimson !important;
  }
  .disabled
  {
    background-color: darkgray !important;
  }

  .soru{
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color:black;
    min-height: 100px;
    color: white;

  }

  .pano{
    margin: 10px;
    padding: 1px;
   border-radius: 10px;
    min-height: 320px;
    color: white;
    text-align: center;
  }